$green: #5ad0a1;
$gray: #a4a4a4;
$light-gray: #c1c0c0;
$dark-gray: #878787;
$darker-gray: #5c5c5c;
$black: #001b1c;
$white: #ffffff;


$primary:       $green;
$secondary:     $black;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $light-gray;
$dark:          $dark-gray;

$link-color: #70767d;
$font-family-base: Lato;
$font-family-franchishe: Franchise;
$font-family-montserrat: Montserrat;

$h1-font-size: 28px; 
$h2-font-size: 24px;
$h3-font-size: 20px;

