body {
    font-family: $font-family-base;
}

.hidden {
    display: none;
}

.bg-youtube {
    width: 20px; height: 22px;
    background: url('/../src/assets/images/css_sprites.png') -234px -75px;
}

.bg-linkedin {
    width: 20px; height: 19px;
    background: url('/../src/assets/images/css_sprites.png') -314px -75px;
}

.bg-twitter {
    width: 20px; height: 16px;
    background: url('/../src/assets/images/css_sprites.png') -354px -75px;
}

.bg-facebook {
    width: 12px; height: 21px;
    background: url('/../src/assets/images/css_sprites.png') -234px -117px;
}

.bg-plus {
    width: 20px; height: 20px;
    background: url('/../src/assets/images/css_sprites.png') -274px -75px;
}

.bg-minus {
    width: 20px; height: 2px;
    background: url('/../src/assets/images/css_sprites.png') -465px -75px;
}

.bg-check {
    position: absolute;
    top: 8px;
    left: -18px;
    width: 15px; height: 11px;
    background: url('/../src/assets/images/css_sprites.png') -430px -75px;
}

.bg-delete {
    width: 16px; height: 16px;
    background: url('/../src/assets/images/css_sprites.png') -394px -75px;
    cursor: pointer;
}

.bg-Logo {
    width: 271px; height: 45px;
    background: url('/../src/assets/images/css_sprites.png') -234px -10px;
}

.bg-arrow_left {
    width: 92px; height: 150px;
    background: url('/../src/assets/images/css_sprites.png') -10px -10px;
}

.bg-arrow_right {
    width: 92px; height: 150px;
    background: url('/../src/assets/images/css_sprites.png') -122px -10px;
}