h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: $secondary;
}

h1 {
  line-height: 2.46;

  @media screen and (max-width: 991.98px) {
    line-height: 1.2;
  }
}

h2 {
  line-height: 2.88;
}

h3 {
  line-height: 3.45;
}

p {
  color: $light;
}