.btn {
    font-size: 22.5px;
    padding: 11px 16.5px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.btn:focus, .btn.focus {
    box-shadow: none;
}

.btn-primary {
    width: 161px;
    height: 61px;
    color: $white;
    background: $primary;
    border-color: $primary;

    &:hover {
        border-color: $primary;
        background: darken($color: $primary, $amount: 10%);
    }
}

.btn-outline-primary {
    height: 59px;
    border: solid 2px $primary;
    color: $primary;

    &:hover {
        color: $white;
        border-color: $primary;
        background: $primary;
    }
}

.btn-lg {
    padding: 12px 25.5px;
    font-size: 22.5px;
    line-height: 1.33;
}

.btn-sm {
    width: 141px;
    height: 47px;
    font-size: 18px;
    line-height: 1;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: $white;
    background: $primary;
    border-color: $primary;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: $white;
    background: $primary;
    border-color: $primary;
}