.validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    font-size: 45.5px;
    font-weight: bold;
    font-family: $font-family-franchishe;
    color: $primary;
    text-align: center;
}

.submit-text {
    margin-top: 25px;
    font-family: $font-family-montserrat;
    font-size: 12px;
    line-height: 1.5;
    color: #6e6d67;
}

.submit-text a {
    color: #6e6d67;
    border-bottom: 1px solid #6e6d67;
}